body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("./images/crumpled-paper-white-bg.webp");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'monospace', sans-serif;
}

button {
    cursor: pointer;
}

.images > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    width : 140px;
    height: 140px;
    object-fit: contain;
    border: 4px solid;
    margin: 8px;
    box-sizing: border-box;
}

.images img.active {
    transition: border 100ms ease-in-out;
    border: 8px solid green;
}

.images-section__around-icon {
    position: absolute;
    height: 100px;
}

#lightbulb-icon {
    bottom: 24px;
    right: 24px;
}

#speaker-icon {
    top: 24px;
    left: 24px;
}

#lightnings-icon {
    top: 24px;
    right: 24px;
}

#exclamation-mark-icon {
    bottom: 24px;
    left: 24px;
}

#play-btn {
    background: transparent;
    border: 4px solid;
    font-size: 20px;
    width: 300px;
}