body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("./images/crumpled-paper-white-bg.webp");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    position: relative;
}

button {
    cursor: pointer;
}

#game-select-section {
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-select-section h2 {
    margin-bottom: 0;
}

.images-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.images img {
    width : 140px;
    height: 140px;
    object-fit: contain;
    border: 4px solid;
    margin: 8px;
    box-sizing: border-box;
}

.images img.active {
    transition: border 100ms ease-in-out;
    border: 8px solid green;
}

.images-section__around-icon {
    position: absolute;
    height: 100px;
    animation: shrink 0.4s infinite;
}

#lightbulb-icon {
    bottom: 24px;
    right: 24px;
}

#speaker-icon {
    top: 24px;
    left: 24px;
}

#lightnings-icon {
    top: 24px;
    right: 24px;
}

#exclamation-mark-icon {
    bottom: 24px;
    left: 24px;
}


#play-btn {
  color:white;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#beb4a7;
  display:block;
  position:relative;
  padding:20px 40px; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #776e63;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #776e63;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #776e63; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#play-btn:active{
  top:10px;
  background-color:#dbcfc1;
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #776e63;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #776e63;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #776e63;
}

#play-btn:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.animated-level-appearance {
    animation: animatedLevelAppearance 0.6s ease-in-out;
}

.animated-img-appearance {
    animation: animatedImageAppearance 1.5s ease-in-out;
}

@keyframes shrink {
    0%, 50%, 100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }
}

@keyframes animatedLevelAppearance {
    0% {
        transform: translateY(600px);
    }

    20% {
        transform: translateY(-60px);
    }

    40% {
        transform: translateY(40px);
    }

    60% {
        transform: translateY(-30px);
    }

    80% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes animatedImageAppearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0%, 100% {
        transform: translateY(0);
    }

    6.25%  {
        transform: translateY(100px);
    }

    18.75%  {
        transform: translateY(-100px);
    }

    31.25%  {
        transform: translateY(75px);
    }

    43.75%  {
        transform: translateY(-75px);
    }

    56.25%  {
        transform: translateY(50px);
    }

    68.75%  {
        transform: translateY(-50px);
    }

    81.25%  {
        transform: translateY(30px);
    }

    93.75%  {
        transform: translateY(-30px);
    }
}
